@charset "UTF-8";
@import "heading.css";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    font-family: 'Silkscreen', cursive;
    background-image: 
    url("../photo/img/Senza_titolo-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0mm;
    background-size: auto auto;
}

p{
    font-size: 19px;
    color: white;
    background-image: none;
}

h1,h2,h3,h4,h5,h6 {
    color: red;
    font-weight: unset;
}

